; Key, Mapping, Negate (used internally)
;-----------------------------------
KEY_SPC MAPPING_SPRINT NO
KEY_W MAPPING_ACCELERATE NO
KEY_LMB MAPPING_ATTACK NO
KEY_LSH MAPPING_JUMP NO
KEY_S MAPPING_BRAKE NO
KEY_F MAPPING_ENTER_CAR NO
KEY_WFD MAPPING_CAMERA_CLOSER NO
KEY_WBD MAPPING_CAMERA_FARTHER NO
KEY_3 MAPPING_RADIO_PREV_STATION NO
KEY_4 MAPPING_RADIO_NEXT_STATION NO
KEY_MMB MAPPING_RADIO_NEXT_STATION NO
KEY_LCT MAPPING_VITAL_STATS NO
KEY_Q MAPPING_PREV_WEAPON NO
KEY_E MAPPING_NEXT_WEAPON NO
KEY_E MAPPING_NEXT_WEAPON NO
KEY_SPC MAPPING_HANDBRAKE NO
KEY_C MAPPING_CROUCH NO
KEY_H MAPPING_HORN NO
KEY_MMB MAPPING_PED_LOOK_BACK NO
KEY_Q MAPPING_VEHICLE_LOOK_LEFT NO
KEY_E MAPPING_VEHICLE_LOOK_RIGHT NO
KEY_LSH MAPPING_VEHICLE_LOOK_BACK NO
KEY_R MAPPING_MISSION_START_AND_CANCEL NO
KEY_R MAPPING_MISSION_START_AND_CANCEL_VIGILANTE NO
KEY_C MAPPING_AUTO_HYDRAULICS NO
KEY_1 MAPPING_SWAP_WEAPONS_AND_PURCHASE NO
KEY_WFD MAPPING_WEAPON_ZOOM_IN NO
KEY_WBD MAPPING_WEAPON_ZOOM_OUT NO
KEY_RMB MAPPING_ENTER_AND_EXIT_TARGETING NO
KEY_R MAPPING_VEHICLE_BOMB NO
KEY_A MAPPING_VEHICLE_STEER_X YES
KEY_D MAPPING_VEHICLE_STEER_X NO
KEY_A MAPPING_VEHICLE_STEER_LEFT NO
KEY_D MAPPING_VEHICLE_STEER_RIGHT NO
KEY_A MAPPING_PED_MOVE_X YES
KEY_D MAPPING_PED_MOVE_X NO
KEY_S MAPPING_PED_MOVE_Y NO
KEY_W MAPPING_PED_MOVE_Y YES
KEY_E MAPPING_MAGNET NO
KEY_SPC MAPPING_SKIP_CUTSCENE NO
KEY_ETR MAPPING_SKIP_CUTSCENE NO
KEY_2 MAPPING_GANG_RECRUIT NO
KEY_R MAPPING_GANG_IGNORE NO
KEY_2 MAPPING_GANG_FOLLOW NO
KEY_R MAPPING_GANG_HOLD_POSITION NO
KEY_ARU MAPPING_RHYTHM_UP NO
KEY_ARD MAPPING_RHYTHM_DOWN NO
KEY_ARL MAPPING_RHYTHM_LEFT NO
KEY_ARR MAPPING_RHYTHM_RIGHT NO
KEY_E MAPPING_DROP_CRANE NO
KEY_1 MAPPING_DROP_ITEM NO
KEY_1 MAPPING_PHONE NO
KEY_X MAPPING_NITRO NO
KEY_C MAPPING_CRANE_UP NO
KEY_Z MAPPING_CRANE_DOWN NO
KEY_SPC MAPPING_ACCEPT NO
KEY_ETR MAPPING_ACCEPT NO
KEY_ESC MAPPING_CANCEL NO
KEY_R MAPPING_GRAB NO
KEY_R MAPPING_STINGER NO
KEY_S MAPPING_MENU_DOWN NO
KEY_ARD MAPPING_MENU_DOWN NO
KEY_W MAPPING_MENU_UP NO
KEY_ARU MAPPING_MENU_UP NO
KEY_A MAPPING_MENU_LEFT NO
KEY_ARL MAPPING_MENU_LEFT NO
KEY_D MAPPING_MENU_RIGHT NO
KEY_ARR MAPPING_MENU_RIGHT NO
KEY_J MAPPING_MENU_ACCEPT NO
KEY_ETR MAPPING_MENU_ACCEPT NO
KEY_ESC MAPPING_MENU_BACK NO
KEY_BSP MAPPING_MENU_BACK NO
KEY_E MAPPING_GYM_ACTION NO
KEY_Z MAPPING_GYM_EASIER_LEVEL NO
KEY_C MAPPING_GYM_HARDER_LEVEL NO
KEY_W MAPPING_BLACK_JACK_SPLIT NO
KEY_D MAPPING_BLACK_JACK_DOUBLE NO
KEY_A MAPPING_BLACK_JACK_HIT NO
KEY_S MAPPING_BLACK_JACK_STAND NO
KEY_C MAPPING_PLACE_BET NO
KEY_Z MAPPING_REMOVE_BET NO
KEY_C MAPPING_HELICOPTER_MAGNET_UP NO
KEY_Z MAPPING_HELICOPTER_MAGNET_DOWN NO
KEY_LSH MAPPING_LOCK_HYDRAULICS NO
KEY_RSH MAPPING_LOCK_HYDRAULICS NO
KEY_LMB MAPPING_FLIGHT_ASCEND NO
KEY_RMB MAPPING_FLIGHT_DESCEND NO
KEY_E MAPPING_FLIGHT_PRIMARY_ATTACK NO
KEY_Q MAPPING_FLIGHT_SECONDARY_ATTACK NO
KEY_ARL MAPPING_FLIGHT_ALT_LEFT NO
KEY_ARR MAPPING_FLIGHT_ALT_RIGHT NO
KEY_ARU MAPPING_FLIGHT_ALT_UP NO
KEY_ARD MAPPING_FLIGHT_ALT_DOWN NO
KEY_A HID_MAPPING_TAKE_COVER_LEFT NO
KEY_D HID_MAPPING_TAKE_COVER_RIGHT NO
KEY_R HID_MAPPING_KISS NO
